/*
* Laravel Exam - main styles
*/
/** {*/
    /*color: #525252;*/
/*}*/

body {
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', sans-serif;
    color: #303132;
}

.logo-link {

}

.main-container {
    padding: 4em 0;
}

.off-canvas-content { box-shadow: none; }

#offCanvasLeft, #offCanvasRight {
    background-color: #333;
    padding: 15px 0px;
    max-height: 100%;
    overflow-y: auto;
    height: 100%;
}
#offCanvasLeft ul li a, #offCanvasRight ul li a {
    color: #fff;
    font-weight: 600;
    opacity: .75;
    font-size: 1.125rem;
    line-height: 38px;
}
.left-divider {
    padding-left: 0;
}
.right-divider {}


#widemenu {
    padding: 0;
}

.user-holder { background: #CECECE; }



.login {
    border-right: 1px solid #e2e2e2;
}

.mobile-bar {
    background-color: #074e68;
}

#widemenu li.menu-text {
    color: #fff;
    background-color: #074e68; }

#widemenu li.has-submenu {
    border-left: 1px solid #d5c2c2;
    border-right: none;  }

/*#widemenu li.has-submenu:last-child {*/
/*border-right: 1px solid #4d4d4d; }*/
#widemenu ul > li:hover {
    border-bottom: 1px solid #074e68;
}

#widemenu li.site-logo:hover,
#widemenu li.has-submenu:hover,
#widemenu li.has-submenu:hover ul > li { border-bottom: none; }


#widemenu li:hover > a {
    /*color: #fff;*/
}

#widemenu ul li a {
    color: #525252; line-height: 2;}

#widemenu .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
    border-color: #666 transparent transparent; }

#site-logo a, #site-logo-mobile {
    color: #fff !important; text-transform: uppercase; padding: 0 !important; }

.home-hero {
    padding: 7em 0;
}

.home-hero h1, .home-hero h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.features {
    margin-bottom: 3em;
}

.features h3 {
    font-family: 'Lato', sans-serif;
}

.features img {
    display: block;
    padding: 1.25rem;
    margin: 1rem auto 0 auto;
    height: 90%;
    width: 90%;
}

.subject-list {
    margin-bottom: 3em;
}

.subject-list h2 {
    font-family: 'Lato', sans-serif;
}

.student-panel,
.teacher-panel {
    font-family: 'Lato', sans-serif;
    padding: 15px 0;
}

.student-panel-right-col-header,
.teacher-panel-right-col-header {
    position: relative;
}

.teacher-panel-right-col-header .add-subj {
    position: absolute;
    top: 0;
    right: 0;
}

.student-panel-right-col-header h2,
.teacher-panel-right-col-header h2 {
    font-family: 'Lato', sans-serif;
    font-size: 2em;
}

#student-menu ul,
#teacher-menu ul {
    background-color: #fafafa;
}

#student-menu a,
#teacher-menu a {
    color: #525252;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#student-menu li>a:hover,
#teacher-menu li>a:hover {
    border-left: 3px solid #074e68;
}

#student-menu a:hover,
#teacher-menu a:hover {
    background: rgba(0, 0, 0, 0.05);
    color: #000;
    font-weight: bold;
}

.student-panel .student-panel-nav-title,
.teacher-panel .teacher-panel-nav-title {
    text-transform: uppercase;
    font-size: 0.75rem;
    color: #999;
    font-weight: bold;
    line-height: 1;
    padding-left: 0.9rem;
    margin-bottom: 0.5rem;
    border-top: 1px solid #e9e9e9;
    margin-top: 1rem;
    padding-top: 1.5rem;
}

.student-panel-main-title,
.teacher-panel-main-title {
    padding-left: 0.9rem;
    font-weight: bold;
    font-size: 0.95rem;
    text-transform: uppercase;
}

.exam-list .columns:last-child:not(:first-child) {
    float: left;
}

.container-hover {
    margin-bottom: 3.8rem;
    border-radius: 3px;
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 1rem;
    padding-bottom: 0.25rem;
    transition: all .25s ease-in-out;
}

.container-hover:hover {
    background: #f8f8f8;
    transition: all .25s ease-in-out;
}

.subject-list .subject-container .exam-logo {
    max-width: 80%;
}

.no-exam {
    float: right;
}

.subject-container .badge {
    float: right;
}

.student-list {
    color: #525252;
    font-size: 1rem;
}

.student-exam-form {
    padding: 20px 0;
}

.student-exam-form fieldset {
    padding: 1em 0;
}

.student-exam-form label {
    margin-right: 3rem;
    display: inline-block;
}

.student-exam-form input[type=radio],
.student-exam-form input[type=checkbox] {
    margiin-right: 3em;
}

.student-exam-form input[type=radio]:checked + label,
.student-exam-form input[type=checkbox]:checked + label {
    font-size: 1.1rem;
    color: #074E68;
    font-weight: bold;
    text-decoration: underline;
}

.student-exam-form input {

}

.question-title {
    font-size: 1.4rem;
}

.subj-exam {
    text-align: left;
}

.sub-details {
    text-align: left;
}


.subj-levels h2 {
    font-family: 'Lato', sans-serif;
    padding-left: 1rem;
}

.level-choices {
    padding: 1em 0;
    text-align: center;
}

.choice .callout {
    color: #074E68;
}

.choice .callout .lead {
    font-size: 2em;
    padding: 1em;
}

.general-header {
    position: relative;
}

.header-options {
    position: absolute;
    top: 13px;
    right: 0;
    /*color: white;*/
    font-size: 0.8rem;
}

.header-options:hover {
    color: #fff;
}

.exam-submit, .exam-cancel {
    background: #074E68;
    color: white;
    font-size: 0.8rem;
    padding: 0.75rem 1rem;
    z-index: 1;
    border: 0;
}

.exam-submit:hover, .exam-cancel:hover {
    color: #fff;
}

.exam-btn {
    /*background: #3C3E42;*/
    background: #074E68;
}

/*foundation override*/
.dropdown.menu > li.is-dropdown-submenu-parent > a::after { right: 11px; }
.column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
    float: left;
}


.size-20 {
    font-size: 20px;
}

.fi-x {
    color: #ed7c7c;
}

.fi-check {
    color: #63aa63;
}

.title-block { color: #074e68 }

.subject-chunk-divider, .exam-chunk-divider {
    border-bottom: 1px solid #e2e2e2;
}

.subject-block, .exam-block {
    border-right: 1px solid #e2e2e2;
}

.subject-block:last-child, .exam-block:last-child {
    border-right: none;
}

.subject-block p,
.exam-block p { color: rgb(63, 52, 52); }

footer.main {
    font-family: 'Lato', sans-serif;
    padding: 20px 0;
    color: #fff;
    background: #141718;
    font-weight: 400;
    border-top: 5px solid #074e68;
}

footer.main a {
    font-family: 'Lato', sans-serif;
    color: #ddd1d1; }

footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6 {
    color: #ddd1d1;
    font-weight: 300;
}

footer .stay-connected {
    background: #074E68;
}

footer p {
    font-weight: 100;
}

.button { border-radius: 3px; }
.button:hover {
    /*background: #074E68;*/
    background: #3C3E42;
}

.user-details {
    font-size: 14px;
    color: #8c8c8c;
}

/*Sweet Alert override*/
.sweet-alert h2 { font-size: 25px; }

/*pagination*/
.pagination { margin-bottom: 0 !important; }
.pagination li { margin-right: 1em; }
.pagination li a { color: #074E68; border-radius: 3px; }
.pagination li.active span { color: #666; font-weight: bold; }
.pagination a:hover {
    background: #074E68;
    color: #fff;
}


/* Media Queries */
@media (max-width: 639px) {
    .exam-chunk-divider, .exam-block {
        border: none;
    }
}

@media (max-width: 1023px) {
    .general-header, .header-options {
        position: inherit;
    }

}


